@import '../../utils/variables';

.campaignsContainer {
  display: flex;
  flex-direction: column;
  & .campaignSection:first-of-type {
    background: $lightGrey;
  }
  .campaignsHeader {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #F7F8FC;
    .campaignsTitle {
      font-family: $headerFont;
      font-weight: $bold;
      width: 50%;
      text-align: center;
      font-size: 60px;
      @media (max-width: $medium) {
        width: 100%;
        font-size: 40px;
        padding-top: 20px;
      }
    }
    .appLinks {
      width: 50%;
      @media (max-width: $medium) {
        width: 100%;
      }
    }
  }
  .campaignsAbout {
    background-color: #F0F2F7;
    width: 100%;
    min-height: 200px;
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    p {
      font-size: 24px;
      width: 70%;
      margin: auto;
      @media (max-width: 786px) {
        font-size: 17px;
      }
    }
    @media (max-width: 786px) {
      width: 100%;
      background-color: #F7F8FC;
    }
  }
}

