@import '../../../../utils/variables';
@import '../../homeMixin';

.howItWorksContainer {
    @include home('section', 'sectionHowItWorks');
    background-color: $bgColorHowItWorks;

    @media (max-width: $medium) {
        padding-left: 20px;
        padding-right: 20px;
    }

    h2 {
        @include home('header');
        margin-bottom: 0;
    }
    .stepContainer {
        position: relative;
        overflow: hidden;
        z-index: 1;
        margin: 10px;
        margin: 20px;
        min-height: 500px;
        width: 95%;
        max-width: 1000px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $medium) {
            flex-direction: column;
            padding-top: 50px;
            padding-bottom: 50px;
            width: 100%;
        }

        .textSection {
            margin: 0 10px;
            position: relative;
            max-width: 400px;

            .header {
                @include home('subHeader');
            }
            .description {
                @include home('subDescription');
                @media (max-width: $small) {
                    text-align: left;
                }
            }

            .fadedNumber {
                background-repeat: no-repeat;
                position: absolute;
                top: -50%;
                left: 25%;
                height: 300px;
                width: 300px;
            }
            #fadedNumberOne {
                background-image: url('../../../../assets/homepage/step1.svg');
            }
            #fadedNumberTwo {
                background-image: url('../../../../assets/homepage/step2.svg');
            }
            #fadedNumberThree {
                background-image: url('../../../../assets/homepage/step3.svg');
            }
        }
        .imageSection {
            max-height: 400px;
            max-width: 400px;
            margin: 0;

            @media (max-width: $medium) {
                order: -1;
                margin-bottom: 100px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .backgroundShape {
            z-index: -1;
            background-color: $bgColorHowItWorksAlternative;
            position: absolute;
            top: 0;
            right: calc((100vw - 100%) / 2 * -1);
            bottom: 0;
            left: calc((100vw - 100%) / 2 * -1);

            @media (max-width: $medium) {
                top: 100px;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: $bgDetailSlantAngle;
                top: -$bgDetailSlantAngle;
                background-color: $bgColorHowItWorksAlternative;
                clip-path: polygon(100% 0, 0 100%, 100% 100%);
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: $bgDetailSlantAngle;
                bottom: -$bgDetailSlantAngle;
                background-color: $bgColorHowItWorksAlternative;
                clip-path: polygon(100% 100%, 100% 0, 0 0);
            }
        }
        &:nth-child(3) {
            overflow: visible;
        }
    }
    .cta {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            margin: 0;
        }
        .downloadBtnContainer {
            height: 100px;
        }
    }
}
