@import '../../../../utils/variables';

.missionSection {
    position: relative;
    top: -80px;
    background: $blue;
    box-sizing: border-box;
    display: flex;
    padding: 70px 0px;
}

.imageSection {
    width: 650px;
    height: 603px;
    padding: 0px;
    object-fit: contain;

    & img {
        position: relative;
        left: -150px;
        height: 100%;
    }
}

.content {
    width: 500px;
}

.missionHeader {
    margin: 0px;
    font-size: 40px;
    font-weight: $blackBold;
    line-height: 1;
    color: $white;
}

.missionText {
    font-size: 20px;
    font-weight: $regular;
    line-height: 1.7;
    color: $white;
}

@media (max-width: $small) {
    .missionSection {
        top: 0px;
    }
    .imageSection {
        display: none;
    }
    .content {
        width: 100%;
    }
}