@import '../../../../utils/variables';
@import '../../aboutUsMixin';

.missionSection {
    @include aboutUs('section');
    background: $bgColor4;
    color: $white;

    .content {
        @include aboutUs('content');
        max-width: 900px;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            @include aboutUs('header');
            color: inherit;
        }
        .description {
            @include aboutUs('description');
            color: inherit;
        }
    }
}
