@import '../../../../utils/variables';
@import '../../aboutUsMixin';

.whoSection {
    @include aboutUs('section');
    background-color: #fff9f2;

    .content {
        width: 1240px;
        .textSection {
            .header {
                @include aboutUs('header');
            }
            .description {
                @include aboutUs('description');
            }
        }

        .imageSection {
            padding-top: 50px;
            // width: 50%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .collage {
                object-fit: contain;
                width: 50%;
                img {
                    width: 100%;
                }
            }

            .meetTheTeam {
                width: 274px;
                height: 60px;
                font-size: 24px;
                font-weight: $bold;
                line-height: 1.33;
                background-color: transparent;
                border: solid 3px $brand;
            }
        }
    }
}

@media (max-width: $medium) {
    .whoSection {
        flex-wrap: wrap;
        position: static;
        top: 0px;
        margin: 0% 0%;
        width: 100%;
    }
    .textSection {
        width: 100%;
    }

    .imageSection {
        padding-top: 0px;
        width: 100%;
    }
}
