@import '../../../../utils/variables';
@import '../../aboutUsMixin';

.whoSection {
    @include aboutUs('section');
    background-color: $bgColor3;

    .content {
        @include aboutUs('content');
        max-width: 1320px;

        .textSection {
            display: flex;
            flex-direction: column;

            .header {
                @include aboutUs('header');
            }
            .description {
                @include aboutUs('description');
            }
        }

        .imageSection {
            padding-top: 50px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: $medium) {
                flex-direction: column;
            }

            .collage {
                object-fit: contain;
                width: 50%;

                @media (max-width: $max-width) {
                    width: 60%;
                    margin-right: 10px;
                }
                @media (max-width: $medium) {
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }

            .meetTheTeam {
                width: 274px;
                height: 60px;
                font-size: 24px;
                font-weight: $bold;
                line-height: 1.33;
                background-color: transparent;
                border: solid 3px $brand;

                @media (max-width: $medium) {
                    margin-top: 25px;
                }
                @media (max-width: $small) {
                    width: 100%;
                }
            }
        }
    }
}

// @media (max-width: $medium) {
//     .whoSection {
//         flex-wrap: wrap;
//         position: static;
//         top: 0px;
//         margin: 0% 0%;
//         width: 100%;
//     }
//     .textSection {
//         width: 100%;
//     }

//     .imageSection {
//         padding-top: 0px;
//         width: 100%;
//     }
// }
