@import '../../utils/variables';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    border-top: 2px solid $lightGrey;
    border-bottom: 2px solid $lightGrey;
}

.text {
    font-weight: $bold;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
    color: $brand;
    & p {
        margin: 0px;
    }
}

.downloadBtns {
    & > button {
        width: 150px;
        height: 50px;
        margin-left: 20px;

        & img {
            width: 100%;
            height: 50px;
        }
    }
}

@media(max-width: $medium) {
    .container {
        flex-direction: column;
        padding: 20px 0px;

        & > div {
            margin-bottom: 40px;
        }
    }
}

@media(max-width: $small) {
    .text {
        margin: 0px 10px;
        text-align: center;
        font-size: 21px;
    }

    .downloadBtns {
        text-align: center;
        display: flex;
        flex-direction: column;
        & > button {
            width: 205px;
            height: 69px;
            margin: 0;
            margin-bottom: 10px;
            & img {
                width: 100%;
                height: 69px;
            }
        }
    }
}
