@import '../../utils/variables';
h1 {
  margin-block-end: 0em;
  margin-block-start: 0em;
  font-size: calc(30px + (90 - 30) * ((100vw - 320px) / (1920 - 320)));
}
h2 {
  font-size: calc(34px + (62 - 34) * ((100vw - 320px) / (1920 - 320)));
}
h3 {
  font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-weight: $semi-bold;
}
h4 {
  font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
  margin-block-end: 0.4em;
  margin-block-start: 0em;
  font-weight: $bold;
}
p {
  font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
}
