@import '../../utils//variables';

.campaignSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 700px;
  padding: 0 18px 100px 18px;
  box-sizing: border-box;
  background-color: #FDFDFD;
  @media screen and (max-width: $medium) {
    padding: 0;
  }
}
.sectionHeader {
  text-align: center;
  font-family: $headerFont;
  font-size: 60px;
  font-weight: $bold;
  line-height: 1.33;
  color: black;
  @media screen and (max-width: $medium) {
    font-size: 40px;
  }
}
.campaignsRow {
  max-width: $max-width;
  align-items: center;
  width: 100%;
}
.noCampaigns {
  color: $grey;
  text-align: center;
  margin: 18px;
}
.proposeCampaign {
  text-align: center;
  .button {
    background-color: white;
    border: 3px solid #FF8800;
    color: #FF8800
  }
  margin-bottom: 20px;
}