@import '../../utils/variables';

.appDownloadContainer {
  background: $brand;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 550px;
  color: $white;
  position: relative;
  width: 100vw;
}
.header {
  position: relative;
  z-index: 1;
  margin-block-end: 0.5em;
}
.downloadContent {
  display: flex;
  flex-direction: column;
  padding: 18px;
  position: relative;
  z-index: 10;
  height: 400px;
  margin: auto;
}
.downloadDescription {
  width: 50%;
  min-width: 300px;
  position: relative;
  z-index: 1;
  color: $white;
}
.downloadBtns {
  display: flex;
  flex-flow: wrap;
  width: 60%;
  z-index: 2;
  & button {
    width: 40%;
    max-width: 170px;
    margin-right: 16px;
  }
  & img {
    max-width: 100%;
  }
}
.appImage {
  position: absolute;
  width: 65vw;
  max-width: 400px;
  bottom: -60px;
  right: -30px;
  z-index: 0;
}
.downloadBtns2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 50%;
  z-index: 2;
  @media screen and (max-width: $medium) {
    width: 100%;
  }
  button {
    width: 40%;
    max-width: 170px;
    margin: 5px;
    @media screen and (max-width: $medium) {
      margin: 0;
      padding: 10px;
    }
  }
  img {
    max-width: 100%;
  }
}
.appDownloadButtonContainer {
  display: flex;
  justify-content: center;
}
