@import '../../utils/variables';

.campaignPoster {
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px 0px rgba($color: #000000, $alpha: 0.08);
  background-color: white;
  @media (max-width: $medium) {
    flex-wrap: wrap;
    box-shadow: none;
  }
  transition: 0.5s;
  &:hover {
    transform: scale(1.01);
  }
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    @media (max-width: $medium) {
      max-height: 200px;
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .right {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    overflow: hidden;
    p {
      font-size: 20px;
      @media (max-width: $medium) {
        font-size: 15px;
      }
    }
    @media (max-width: $medium) {
      width: 80%;
      padding: 15px;
      height: auto;
    }
  }
}
.campaignBtn {
  width: 200px;
  margin-left: auto;
  @media (max-width: $medium) {
    margin: auto;
  }
}
