@import '../../utils/variables';

.campaignPoster {
  display: flex;
  justify-content: center;
  height: 400px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px 0px rgba($color: #000000, $alpha: 0.08);
  background-color: white;
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right {
    padding: 50px;
    width: 50%;
    max-height: 300px;
    p {
      font-size: 20px;
    }
  }
}
.campaignBtn {
  width: auto;
  float: right;
}
