@import '../../../../utils/variables';
@import '../../homeMixin';

.takeActionContainer {
    @include home('section', 'sectionNoTopPadding');

    .downArrow {
        font-size: 5em;
        color: $grey;
        align-self: center;
        justify-self: center;
        animation: pulseDown 1s infinite;
        right: 50%;
        bottom: 0;
    }
    .content {
        .textSection {
            .header {
                @include home('header');
            }
            .description {
                @include home('description');
            }
        }
    }
}
