@import '../../../../utils/variables';
@import '../../aboutUsMixin';

.aboutUsSection {
    @include aboutUs('section');
    background: $bgColor1;

    .content {
        @include aboutUs('content');
        max-width: 900px;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header {
            @include aboutUs('header');
        }

        .description {
            @include aboutUs('description');
        }
    }
}
