@mixin aboutUs($unit) {
    @if $unit == 'section' {
        box-sizing: border-box;
        padding: 150px;

        display: flex;
        align-items: center;
        flex-direction: column;

        @media (max-width: $medium) {
            padding: 150px 70px;
        }
        @media (max-width: $small) {
            padding: 150px 25px;
        }
    }
    @if $unit == 'content' {
        @media (max-width: $max-width) {
            width: 100%;
        }
    }
    @if $unit == 'header' {
        font-family: $headerFont;
        font-size: 70px;
        font-weight: $blackBold;
        line-height: 1;
        color: $darkGrey;
        margin: 0 0 25px 0;

        @media (max-width: $medium) {
            font-size: 60px;
        }
        @media (max-width: $small) {
            font-size: 50px;
        }
    }
    @if $unit == 'description' {
        font-size: 25px;
        font-weight: $regular;
        line-height: 1.7;
        color: $mediumGrey;
        max-width: 100%;
        margin-bottom: 0;

        @media (max-width: $max-width) {
            font-size: 21px;
        }
    }
}
