@import '../../utils/variables';

$card-width: 300px;
$card-height: 100px;
.cardStyle {
  display: inline-block;
  margin: 15px;
  border: 1px solid transparent;
  box-shadow: -5px 10px #eeeeee;
  text-align: left;
  padding-left: 15px;
}

.cardImage {
  width: $card-width;
  height: $card-height;
}
.mediaName {
  float: left;
  margin-top: 0px;
}
.cardTitle {
  max-width: $card-width;
  margin-bottom: 5px;
}