@import '../../utils/variables';

.navContainer {
  width: 100%;
  height: auto;
  z-index: 20;
  background: transparent;
  box-sizing: border-box;
  max-height: 100px;
  top: 0;
  position: sticky;
  padding: 12px 18px;
  box-shadow: $boxShadow;
  background: $white;
}
.navContent {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  align-items: center;
}
.logoContainer {
  display: flex;
  width: 25vh;
  height: fit-content;
  max-width: 240px;
  min-width: 150px;
  border-radius: 10px;
}
.logo {
  width: 100%;
}
.navigation {
  display: flex;
  max-width: 800px;
  width: calc(100% - 250px);
}
ul {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  display: flex;
  list-style: none;
  box-sizing: border-box;
}
.navLink {
  font-weight: $semi-bold;
  color: $blue;
  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
  transition: color 0.4s;
  &:hover {
    color: $brand;
  }
}
.navIcon {
  display: none;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: $white;
  width: 100%;
  left: 0;
  color: $blue;
  height: fit-content;
  box-sizing: border-box;
  box-shadow: $boxShadow;
  border-radius: 10px;
  visibility: hidden;
  transform: translateY(-150%);
  top: 0;
  transition: all 0.4s ease;
  padding: 1em;
  & i {
    font-size: 24px;
    margin-left: auto;
  }
}
.mobileMenuHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  & .logo {
    width: 150px;
  }
}
.mobileNavLink {
  line-height: 2.5;
  color: $blue;
  text-decoration: none;
}

@media (max-width: $medium) {
  .navIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    cursor: pointer;
    width: 24px;
    margin-left: auto;
    margin-top: 0.5em;
    & > div {
      transform-origin: left;
      height: 3px;
      width: inherit;
      background: $blue;
      transition: transform 0.7s;
      margin-bottom: 6px;
    }
  }
  .navRow {
    display: none;
  }
  .navigation {
    width: 100%;
    display: block;
    & li {
      padding: 6px;
    }
  }
  .navClose {
    & .mobileMenu {
      visibility: visible;
      transform: translateY(0%);
    }
  }
}
