@import '../../utils/variables';

.fullNavContainer {
    position: sticky;
    z-index: 20;
    top: 0;
    box-shadow: $boxShadow;

    .topNavContainer {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        max-height: 100px;
        padding: 12px 18px;
        background: $topNavColor;

        @media (max-width: $medium) {
            display: none;
        }

        .topNavRow {
            align-items: center;
            width: 100%;
            justify-content: flex-end;
            display: flex;
            list-style: none;
            box-sizing: border-box;

            @media (max-width: $medium) {
                display: none;
            }

            li {
                margin-left: calc(0.03 * 100vw);
                @media (max-width: $medium) {
                    padding: 6px;
                }
                .navLink {
                    font-weight: $semi-bold;
                    color: $blue;
                    font-size: calc(
                        14px + (24 - 14) * ((100vw - 320px) / (1920 - 320))
                    );
                    transition: color 0.4s;
                    &:hover {
                        color: $brand;
                    }
                }
            }
        }
    }

    .navClose {
        #mobileMenu {
            @media (max-width: $medium) {
                visibility: visible;
                transform: translateY(0%);
            }
        }
    }

    .navContainer {
        width: 100%;
        height: auto;
        z-index: 20;
        background: transparent;
        box-sizing: border-box;
        max-height: 100px;
        top: 0;
        position: sticky;
        padding: 12px 18px;

        background: $white;

        .navContent {
            display: flex;
            justify-content: space-between;
            margin: auto;
            position: relative;
            align-items: center;

            .logoContainer {
                display: flex;
                width: 25vh;
                height: fit-content;
                max-width: 240px;
                min-width: 150px;
                border-radius: 10px;

                .logo {
                    width: 100%;
                }
            }

            .navigation {
                display: flex;
                max-width: 800px;
                width: calc(100% - 250px);

                @media (max-width: $medium) {
                    width: 100%;
                    display: block;
                }

                .navIcon {
                    display: none;

                    @media (max-width: $medium) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: fit-content;
                        cursor: pointer;
                        width: 24px;
                        margin-left: auto;
                        margin-top: 0.5em;
                    }
                    > div {
                        @media (max-width: $medium) {
                            transform-origin: left;
                            height: 3px;
                            width: inherit;
                            background: $blue;
                            transition: transform 0.7s;
                            margin-bottom: 6px;
                        }
                    }
                }

                .mobileMenu {
                    visibility: hidden;
                    transform: translateY(-150%);
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background: $white;
                    width: 100%;
                    left: 0;
                    top: 0;
                    color: $blue;
                    height: fit-content;
                    box-sizing: border-box;
                    box-shadow: $boxShadow;
                    border-radius: 10px;
                    transition: all 0.4s ease;
                    padding: 1em;

                    i {
                        font-size: 24px;
                        margin-left: auto;
                    }

                    .mobileMenuHeader {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1em;
                        .logo {
                            width: 150px;
                        }
                        i {
                            cursor: pointer;
                        }
                    }

                    .mobileNavLink {
                        line-height: 2.5;
                        color: $blue;
                        text-decoration: none;
                    }
                }

                .navRow {
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    list-style: none;
                    box-sizing: border-box;

                    @media (max-width: $medium) {
                        display: none;
                    }

                    li {
                        @media (max-width: $medium) {
                            padding: 6px;
                        }
                        .navLink {
                            font-weight: $semi-bold;
                            color: $blue;
                            font-size: calc(
                                14px + (24 - 14) *
                                    ((100vw - 320px) / (1920 - 320))
                            );
                            transition: color 0.4s;
                            &:hover {
                                color: $brand;
                            }
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width: $medium) {
//     .navIcon {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         height: fit-content;
//         cursor: pointer;
//         width: 24px;
//         margin-left: auto;
//         margin-top: 0.5em;
//         & > div {
//             transform-origin: left;
//             height: 3px;
//             width: inherit;
//             background: $blue;
//             transition: transform 0.7s;
//             margin-bottom: 6px;
//         }
//     }
//     .navRow {
//         display: none;
//     }
//     .navigation {
//         width: 100%;
//         display: block;
//         & li {
//             padding: 6px;
//         }
//     }
//     .navClose {
//         & .mobileMenu {
//             visibility: visible;
//             transform: translateY(0%);
//         }
//     }
// }
