@import '../../utils/variables';

.dialog {
  max-width: 800px;
  min-width: 600px;

  max-height: 90%;
  width: 95%;
  position: relative;
}

.content {
  background-color: #fff;
  border-radius: 10px;
  padding: 32px;
}

.container {
  align-items: center;
  background-color: rgba(25, 32, 45, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  overflow: auto;
}

.closeButton {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
}