@import '../../homeMixin';

.waveContainer {
    svg {
        .waveTop {
            width: 100%;
            height: 100%;
            fill: $bgColorCampaigns;
        }
        .waveBottom {
            width: 100%;
            height: 100%;
            fill: $bgColorHowItWorks;
        }
    }
}
