@import '../../utils//variables';

.header {
    background-color: $lightGrey;
    text-align: center;
}

.title {
    color: $brand;
    margin: 0;
    padding: 10px;
}

.content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background: $whiteGradient;
    text-align: center;
}

.blogs {
    max-width: 100%;
    padding: 50px;
    border-right: 1pt solid;
}

.highlightedBlog {
    padding-bottom: 20px;
    img {
        height: 300px;
        width: 100%;
    }
}

.blogList {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 1em;
    justify-items: center;
    overflow: hidden;
}

.blogAds {
    text-align: center;
}

.blogPost {
    display: flex;
    flex-direction: column;
}

.blogImage {
    flex-grow: 2;
    max-height: 300px;
    img {
        max-height: 100%;
        max-width: 100%;
        display: block;
    }
}

.blogPostText {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 15px;
    justify-content: space-around;
    > div {
        padding: 5px 0px;
    }
}

.blogHashtags{
    
    a {
        font-weight: normal;
        font-size: 17px;
        color: $grey;
        padding-right: 10px;
    }
}

.blogTitle{
    font-weight: $bold;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: $black;
    
}

.blogAuthor{
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    color: $blue;
}

.SearchControls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    text-align: left;
}
