@import '../../../../utils/variables';


.partnersContainer {
  background: $lightGrey;

  .partnersContent {
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding: 5em 18px;
    max-width: $max-width;
    margin: auto;
    box-sizing: border-box;
  
    .header {
      line-height: 1.5;
      text-align: center;
      a {
        color: $brand;
        font-weight: $bold;
      }
    }
   
    .partnersRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .partner {
        margin: 10px;
        max-width: 30%;
        text-align: center;
        background-color: $white;
        border-radius: 5px;
        background-position: center;
        padding: 1em;
        min-width: 300px;
        height: 150px;
        transition: box-shadow 0.2s ease-in;
        img {
          max-height: 120px;
        }
        &:hover {
          box-shadow: $boxShadow;
        }

        .partnerName {
          padding: 0;
          margin-top: auto;
          font-size: 1.4em;
        }
      }
    }
  }
} 
