@import '../../../../utils/variables';


.partnersContainer {
  background: $lightGrey;

  .partnersContent {
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding: 5em 18px;
    max-width: $max-width;
    margin: auto;
    box-sizing: border-box;
  
    .header {
      line-height: 1.5;
      text-align: center;
      a {
        color: $brand;
        font-weight: $bold;
      }
    }
   
    .partnersRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .partner {
        margin: 10px;
        max-width: 30%;
        text-align: center;
        background-color: $white;
        border-radius: 5px;
        background-position: center;
        padding: 1em;
        min-width: 250px;
        height: 130px;
        transition: box-shadow 0.2s ease-in;
        img {
          max-height: 100px;
        }
        &:hover {
          box-shadow: $boxShadow;
        }

        .partnerName {
          padding: 0;
          margin-top: auto;
          font-size: 1.4em;
        }
      }
      
      @media (max-width: $medium) {
        .partner {
          min-width: 190px;
          height: 105px;
          padding: 0.8em;
          img {
            max-height: 60px;
          }
      
          .partnerName {
            font-size: 1.2em;
          }
        }
      }

      @media (max-width: $small) {
        .partner {
          min-width: 140px;
          height: 100px;
          padding: 0.5em;
          img {
            max-height: 55px;
          }
      
          .partnerName {
            font-size: 1.05em;
          }
        }
      }


    }
  }
} 

