@import '../../utils/variables';

.aboutUsSection {
    background: $lightGrey;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 10%;
}


.box{
    background: $lightGrey;
    position: relative;
    display: block;
    text-align: center;
    object-fit: fill;
    padding-left: 150px;
    padding-right: 150px;
    & img {
        text-align: center;
        max-width: 100%;
    }
}

.text{
    position: sticky;
    z-index: 999;
    left: 44%;
    top: 20%;
    text-align: left;
    width: 60%;
}
