@import '../../utils/variables';
$tiny: 348px;

.navContainer {
    * {
        box-sizing: border-box;
    }
    // .active {
    //     display: none;
    // }

    .topNavbar,
    .bottomNavbar {
        height: 75px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .linkContainer {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $medium) {
            display: none;
        }
    }

    .topNavbar {
        background-color: $topNavBg;
        @media (max-width: $medium) {
            display: none;
        }
    }
    .bottomNavbar {
        background-color: white;

        @media (max-width: $tiny) {
            flex-direction: column;
            height: auto;
        }

        .logoContainer {
            display: flex;
            margin: 0 10px;
            height: 100%;
            min-width: 250px;

            @media (max-width: $tiny) {
                min-width: auto;
                width: 100%;
                height: auto;
            }
        }
        .navBurger {
            cursor: pointer;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            min-width: 40px;
            display: none;

            @media (max-width: $medium) {
                display: inherit;
            }

            .burger {
                position: relative;
                width: 90%;
                height: 3px;
                background: $blue;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -12px;
                    left: 0;
                    background: inherit;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    background: inherit;
                }
            }
        }
    }
}
// .navContainer {
//   width: 100%;
//   height: auto;
//   z-index: 20;
//   background: transparent;
//   box-sizing: border-box;
//   max-height: 100px;
//   top: 0;
//   position: sticky;
//   padding: 12px 18px;
//   box-shadow: $boxShadow;
//   background: $white;
// }
// .navContent {
//   display: flex;
//   justify-content: space-between;
//   margin: auto;
//   position: relative;
//   align-items: center;
// }
// .logoContainer {
//   display: flex;
//   width: 25vh;
//   height: fit-content;
//   max-width: 240px;
//   min-width: 150px;
//   border-radius: 10px;
// }
// .logo {
//   width: 100%;
// }
// .navigation {
//   display: flex;
//   max-width: 800px;
//   width: calc(100% - 250px);
// }
// .navRow {
//   align-items: center;
//   width: 100%;
//   justify-content: space-between;
//   display: flex;
//   list-style: none;
//   box-sizing: border-box;
// }
// .navLink {
//   font-weight: $semi-bold;
//   color: $blue;
//   font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
//   transition: color 0.4s;
//   &:hover {
//     color: $brand;
//   }
// }
// .navIcon {
//   display: none;
// }

// .mobileMenu {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   background: $white;
//   width: 100%;
//   left: 0;
//   color: $blue;
//   height: fit-content;
//   box-sizing: border-box;
//   box-shadow: $boxShadow;
//   border-radius: 10px;
//   visibility: hidden;
//   transform: translateY(-150%);
//   top: 0;
//   transition: all 0.4s ease;
//   padding: 1em;
//   & i {
//     font-size: 24px;
//     margin-left: auto;
//   }
// }
// .mobileMenuHeader {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 1em;
//   & .logo {
//     width: 150px;
//   }
// }
// .mobileNavLink {
//   line-height: 2.5;
//   color: $blue;
//   text-decoration: none;
// }

// @media (max-width: $medium) {
//   .navIcon {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: fit-content;
//     cursor: pointer;
//     width: 24px;
//     margin-left: auto;
//     margin-top: 0.5em;
//     & > div {
//       transform-origin: left;
//       height: 3px;
//       width: inherit;
//       background: $blue;
//       transition: transform 0.7s;
//       margin-bottom: 6px;
//     }
//   }
//   .navRow {
//     display: none;
//   }
//   .navigation {
//     width: 100%;
//     display: block;
//     & li {
//       padding: 6px;
//     }
//   }
//   .navClose {
//     & .mobileMenu {
//       visibility: visible;
//       transform: translateY(0%);
//     }
//   }
// }
