@import '../../utils/variables';
$tiny: 348px;

.navContainer {
    * {
        box-sizing: border-box;
    }
    .topNavbar,
    .bottomNavbar {
        height: 75px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .linkContainer {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $medium) {
            display: none;
        }
    }

    .topNavbar {
        background-color: $topNavBg;
        @media (max-width: $medium) {
            display: none;
        }
    }
    .bottomNavbar {
        background-color: white;
        position: relative;

        @media (max-width: $tiny) {
            flex-direction: column;
            height: auto;
        }

        .logoContainer {
            display: flex;
            margin: 0 10px;
            height: 100%;
            min-width: 250px;

            @media (max-width: $tiny) {
                min-width: auto;
                width: 100%;
                height: auto;
            }
        }
        .navBurger {
            cursor: pointer;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            min-width: 40px;
            display: none;

            @media (max-width: $medium) {
                display: inherit;
            }

            .burger {
                position: relative;
                width: 90%;
                height: 3px;
                background: $blue;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -12px;
                    left: 0;
                    background: inherit;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    background: inherit;
                }
            }
        }
        .mobileLinkContainer {
            z-index: 1;
            background-color: $white;
            position: absolute;
            display: inherit;
            top: 0;
            left: calc(5vw - 10px);
            width: 90vw;
            margin: 10px;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            box-shadow: $campaignBoxShadow;

            @media (min-width: $medium) {
                display: none;
            }

            header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .mobileLogoContainer {
                    position: initial;

                    height: auto;
                    display: flex;
                    margin: 0 10px;

                    max-width: 250px;
                    width: 100%;
                }
                #close {
                    cursor: pointer;
                }
            }

            .mobileLinksList {
                padding: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
