// brand
$brand: #ff8800;

// font
$headerFont: Rockwell;
$bodyFont: Nunito, 'sans serif';

// accent
$red: #d30001;
$sunflower: #f3b700;
$salomie: #ffdc79;
$topNavColor: #fcf0de;
$blue: #011a43;
$purple: #2f2e41;
$black: #000000;
$white: #ffffff;
$grey: #9699a8;
$lightGrey: #f7f8fc;
$mediumGrey: #373a4a;
$darkGrey: #454545;
$activeOverlay: rgba(0, 0, 0, 0.3);
$pastOverlay: rgba(204, 204, 204, 0.5);
$whiteGradient: linear-gradient(#fff, #eee 100%);
$blogHashtagColor: #707070;

// gradients
$brandGradient: linear-gradient($brand, $red);

//  box shadow
$boxShadow: 0 3px 6px rgba(0, 0, 0, 0.2);
$campaignBoxShadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
$faqBoxShadow: 0px 15px 25px rgba(0, 45, 96, 0.08);

// font-weight
$extraLight: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$blackBold: 900;

// screen sizes
$max-width: 1400px;
$medium: 825px;
$small: 480px;
