// brand
$brand: #ff8800;

// accent
$red: #d30001;
$sunflower: #f3b700;
$salomie: #ffdc79;
$blue: #011a43;
$black: #000000;
$white: #ffffff;
$grey: #888888;
$lightGrey: #eeeeee;
$darkGrey: #454545;
$activeOverlay: rgba(0, 0, 0, 0.3);
$pastOverlay: rgba(204, 204, 204, 0.5);
$whiteGradient: linear-gradient(#fff, #eee 100%);

//  grid - padding/margins: 18px, gutter/gap: 14px;
$brandBoxShadow: 0px 3px 10px 0px rgba(253, 136, 36, 0.15);
$campaignBoxShadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);

// font-weight
$extraLight: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$blackBold: 900;

// screen sizes
$max-width: 1400px;
