@import '../../../../utils/variables';

.whySection {
    // position: relative;
    // top: -150px;
    // margin: 0% 10%;
    background-color: $white;
    // width: 80%;
    // height: fit-content;
    display: flex;
    padding: 150px;
    box-sizing: border-box;
    // box-shadow: 0 45px 60px 0 rgba(0, 0, 0, 0.04);
    .content {
        width: 1240px;
        // border: 1px solid magenta;
        // text-align: center;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;

        .header {
            font-size: 70px;
            font-weight: $blackBold;
            line-height: 1;
            color: $darkGrey;
            margin: 0px;
            max-width: 100%;
        }

        .description {
            font-size: 25px;
            font-weight: $regular;
            line-height: 1.7;
            color: $mediumGrey;
            max-width: 100%;
            margin-bottom: 0;
        }
    }
}

// .image {
//     width: 409px;
//     object-fit: contain;
//     img {
//         width: 100%;
//     }
// }

// .content {
//     width: 60%;
//     max-width: 100%;
//     padding: 20px 0px 0px 100px;
//     display: flex;
//     flex-direction: column;
// }

@media (max-width: $medium) {
    .whySection {
        position: static;
        top: 0px;
        margin: 0% 0%;
        width: 100%;
    }
    .image {
        display: none;
    }
    .content {
        width: 100%;
        padding: 0px;
    }
}
