@import '../../../../utils/variables';
@import '../../aboutUsMixin';

.whySection {
    @include aboutUs('section');
    background-color: $bgColor2;

    .content {
        @include aboutUs('content');
        max-width: 1240px;
        display: flex;
        flex-direction: column;

        .header {
            @include aboutUs('header');
            @media (max-width: $small) {
                text-align: left;
            }
        }
        .description {
            @include aboutUs('description');
            @media (max-width: $small) {
                text-align: left;
            }
        }
    }
}
