@import '../../../../utils/variables';
@import '../../homeMixin';

.activeCampaignsContainer {
    color: white;
    background: $bgColorCampaigns;
}
.activeCampaignsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding: 5em 18px;
    max-width: $max-width;
    margin: auto;
    box-sizing: border-box;
    & button {
        margin-left: auto;
    }
}
.header {
    color: $black;
    line-height: 1.5;
    text-align: center;
}
.campaignsRow {
    display: grid;
    justify-content: center;
    max-width: $max-width;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 14px;
    margin-bottom: 3em;
}
.noCampaigns {
    color: $grey;
    text-align: center;
    margin: 18px;
}

.campaign {
    border-radius: 10px;
    background-position: center;
    padding: 1em;
    height: 500px;
    color: $white;
    display: flex;
}
.campaignTitle {
    display: flex;
    align-items: center;
    margin-top: auto;
    & i {
        font-size: 34px;
    }
}

@media (max-width: $small) {
    .campaign {
        height: 200px;
    }
    .campaignTitle {
        margin: auto;
    }
}
