@import '../../utils/variables';

.downloadBtns {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
  max-width: 600px;
  flex-wrap: wrap;
  & a {
    display: flex;
    width: 48%;
    max-width: 300px;
    max-height: 90px;
  }
  & img {
    max-width: 100%;
    width: 90%;
  }
}

@media (max-width: $small) {
  .downloadBtns {
    & a {
      max-height: 50px;
    }
  }
}

@media (max-width: $medium) {
  .downloadBtns {
    & a {
      max-height: 70px;
    }
  }
}
