@import '../../../utils/variables';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    > * {
        margin-bottom: 20px;
    }
}

.title {
    font-weight: $bold;
    font-size: 30px;
    line-height: 34px;
    color: $black;
}
