@import './utils/variables';

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  &.selected {
    border-bottom: 3px solid $brand;
  }
}
.material-icons {
  font-size: inherit;
}
