@import '../../utils/variables';

.theAppContainer {
  color: $blue;
  background: $lightGrey;
  padding-bottom: 100px;
  padding: 5em 0;
}
.appContentContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  height: 100%;
  max-width: calc(15vw + 1400px);
  justify-content: center;
  padding: 18px;
  margin: auto;
}
.appLeft {
  width: 50vw;
  max-width: 750px;
  margin-top: 50px;
  min-width: 300px;
  & img {
    max-width: 100%;
  }
}
.appRight {
  max-width: 700px;
  width: 45vw;
}
@media (max-width: $medium) {
  .appRight {
    width: 100%;
    text-align: center;
  }
}

// sign up
.getInvolvedContainer {
  background: $lightGrey;
  color: $darkGrey;
  padding: 100px 18px;
}
.getInvolvedContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  & button {
    margin: 20px 0;
  }
  & a {
    color: $brand;
  }
}

form {
  display: flex;
  flex-direction: column;
}
.formInputs {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
label {
  line-height: 2;
  font-weight: $semi-bold;
}
input {
  border: 2px solid transparent;
  box-shadow: $boxShadow;
  margin-right: 24px;
  width: 270px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  padding-left: 8px;
  transition: border 0.3s;
  &:focus {
    border: 2px solid $brand;
  }
}
.inputError {
  color: $red;
  font-size: 14px;
  margin-block-start: 0.3em;
}
