@import '../../utils/variables';

.homepageContainer {
  height: calc(100vh - 160px);
  padding: 0px 18px;
  max-width: $max-width;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, auto);
}
.greeting {
  width: 65%;
  min-width: 400px;
  margin: 80px 0 0 calc(130px - (100vw - 1200px));
}
.greetingMsg {
  color: $brand;
  font-weight: $blackBold;
  &:after {
    content: '';
    margin-top: 15px;
    display: block;
    width: 36vw;
    border-bottom: 10px solid $brand;
    border-radius: 8px;
  }
}

.homepageImg {
  position: absolute;
  right: -30px;
  bottom: 2em;
  width: 40%;
  min-width: 500px;
  max-width: 850px;
  & img {
    width: 100%;
    max-width: 100%;
    float: right;
  }
}

.scrollNotice {
  margin: auto;
  color: $grey;
}
